version: '3.8'

services:
  backend:
    build:
      context: ./IPR2App
      dockerfile: Dockerfile
    ports:
      - "7171:8080"
    environment:
      - ConnectionStrings__MongoDb=mongodb://mongo:27017
      - ConnectionStrings__Redis=redis:6379
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080 
    depends_on:
      - mongo
      - redis

  frontend:
    build:
      context: ./client-app
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  mongo_data: