backend:
  replicas: 1
  
  imagePullPolicy: IfNotPresent

  autoscaling:
    enabled: false 

  resources:
    requests:
      cpu: 50m    
      memory: 64Mi
    limits:
      cpu: 250m     
      memory: 256Mi

ingress:
  host: ipr2.local