backend:
  name: backend
  image: ipr2-backend    
  tag: latest
  replicas: 1             
  port: 8080             
  
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5        
    targetCPU: 50         

  resources:
    requests:
      cpu: 100m 
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

mongo:
  image: mongo:latest
  port: 27017

redis:
  image: redis:alpine
  port: 6379